h2 {
  color: brown;
}
.mau1 {
  color: rgb(255, 0, 123);
}
.login {
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  text-align: center;
  margin: 0 auto;
  margin-top: 250px;
  padding: 10px;
}
.login label {
  font-size: 15px;
  line-height: 1.5;
  margin-right: 130px;
}
input {
  width: 200px;
  height: 30px;
}
select {
  margin-left: px;
  margin-top: ;
}
